#footer {
  font-size: 2rem;
  background-color: rgba(65, 65, 65, 0.745);
  height: 300px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 700px;
}

#footer_left {
  margin-left: 50px;
  font-size: 0.8rem;
  text-align: center;
}

#footer_logo {
  width: 50px;
  height: 50px;
}

#footer_right {
  margin-right: 30px;
}

#footer_center {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 40em;
}

#footer_media {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.footer_link:hover {
  cursor: pointer;
}

.footer_link > p {
  font-size: 1rem;
}

.footer_link > input {
  text-align: center;
}

#footer_email {
  width: 15rem;
  height: 30px;
}
