@media all and (max-width: 1025px) {
  .add-book_places {
    width: 55% !important;
  }
}
@media all and (max-width: 769px) {
  .add-book_places {
    width: 65% !important;
  }
  .add-book_pdf,
  .add-book_image {
    font-size: 16px;
    margin-top: 23px !important;
  }
}
@media all and (max-width: 500px) {
  .add-book_places {
    width: 70% !important;
    padding: 50px 20px !important;
  }
}
@media all and (max-width: 376px) {
  .add-book_places {
    width: 70% !important;
  }
  .add-book_header {
    font-size: 27px;
  }
}

.add-book_rower {
  flex-direction: column !important;
}
.unrower {
  display: none;
}

.add-book_places > input {
  height: 2.5em !important;
  margin: 20px;
  border: #fc0 2px solid;
  border-radius: 10px;
  background-color: rgba(202, 202, 202, 0.144) !important;
  outline: none;
  color: white;
  padding: 1px;
  padding-left: 10px;
}

input[type="input"]::-webkit-input-placeholder {
  color: #ffffff;
}
