.favorites {
  cursor: pointer;
  transition: color, transform 500ms ease;
}
.favorites:hover {
  color: #dc3d3d;
}
.favorites.active {
  color: #dc3d3d;
  transform: scale(1.5);
}

/* .Navbar {
      position: relative;
    } */

.shop-cart {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 200px;
  left: 50px;
  min-height: 100px;
  background-color: #fafafa;
  z-index: 1000;
  color: red;
}

.search {
  margin-left: 10px;
}

.search1 {
  display: flex;
  flex-wrap: wrap;
}
