* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#homepage_search {
  width: 60em;
  height: 40px;
  margin: 30px auto 30px;
  text-align: center;
  border-radius: 5px;
  background-image: url("https://img.icons8.com/external-filled-outline-perfect-kalash/64/null/external-Magnifying-Glass-basic-filled-outline-perfect-kalash.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.hr_line {
  width: 90%;
  opacity: 0.5;
}
