* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  text-shadow: #fc0 0px 0 5px;
}

#main > p {
  margin: 30px;
}

#main > h1 {
  margin: 50px 40px;
}

#main_logo {
  width: 13%;
  height: 5%;
  margin: 70px 30px 0px 0px;
  outline: white 2px solid;
  border: #fc0 2px solid;
  box-shadow: #fc0 0px 0 5px;
  border-radius: 10px;
  padding-top: 3px;
  text-align: center;
}

#main_logo > p {
  width: 80%;
  margin: 5px;
}

#logo {
  width: 60%;
  margin: 5px;
}

#homepage_search {
  width: 40%;
  height: 40px;
  margin: 30px auto 30px;
  text-align: center;
  border-radius: 10px;
  border: #fc0 2px solid;
  background-image: url("https://img.icons8.com/external-filled-outline-perfect-kalash/64/null/external-Magnifying-Glass-basic-filled-outline-perfect-kalash.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-color: rgba(202, 202, 202, 0.144);
  outline: none;
  color: white;
}

#homepage_button {
  background-color: transparent;
  width: 17em;
  height: 2.5em;
  border-radius: 15px;
  border: #ffd700 2px solid;
  color: white;
  text-shadow: #fc0 0px 0 5px;
}

#homepage_button:hover {
  background-color: #ffd700;
  border: #ffd700 2px solid;
  color: black;
  transition: 1s;
}

#homepage_button:focus {
  background-color: transparent;
  transition: 1s;
  color: white;
  text-shadow: #fc0 0px 0 5px;
  border: green 2px solid;
  width: 15em;
  height: 2em;
}

#hp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 100%;
}
.hp_image {
  width: 30%;
  padding: 10px;
  border: #fc0 2px solid;
  margin: 50px;
}

.hr_line {
  width: 90%;
  opacity: 0.5;
}

#homepage_search1 {
  width: 60em;
  height: 40px;
  margin: 30px auto 30px;
  text-align: center;
  border-radius: 5px;
  border: white 2px solid;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-color: rgba(224, 224, 224, 0.679);
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: rgb(66, 66, 66);
}

::-webkit-scrollbar-thumb {
  background-color: #ffd9049b;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffd700;
}
